*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #f96f5d;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif, sans-serif;
}

header {
  position: relative;
  color: white;
  background: linear-gradient(45deg, #f96f5d, #c9c9ee);
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.25em;
  gap: 0.25em;
}

header nav div {
  display: flex;
  color: white;
  gap: 1em;
  align-items: center;
}

header nav div p {
  margin: 0;
  text-align: right;
}

header nav div svg {
  display: block;
}

header h1 {
  margin: 0;
}

article .head {
  position: sticky;
  top: 1em;
  flex: 1;
  padding: 0 10px 1em 10px;
  text-align: right;
}

article .content {
  flex: 2;
  color: #333;
  padding: 1em 2em;
  line-height: 1.5em;
  position: relative;
  overflow-x: auto;
  border-left: 2px solid #ccc;
}

article .showcase {
  width: 80%;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 1em 0;
}

footer p {
  margin: 5px;
}

#education .responsive-flex div {
  background-color: #eee;
  border-radius: 10px;
  padding: 1em;
  flex: 1;
}

#contact {
  padding: 10px 0;
  color: #333;
  background-color: #eee;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

#contact input[type='submit'] {
  padding: 0.5em 1.5em;
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  color: white;
}

.container {
  padding: 1em 2em;
  max-width: 1024px;
  margin: auto;
}

.title {
  text-align: center;
}

.logo {
  height: 100px;
  margin: auto;
  display: block;
}

.links {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}

:is(a:hover, a:focus) {
  text-decoration: underline;
}

.head p {
  font-weight: bold;
  color: #555;
}

.content h4 {
  margin: 0;
}

.content p {
  margin: 0.5em 0;
  text-align: justify;
}

.responsive-flex {
  display: flex;
  gap: 1em;
}

.subheading {
  font-weight: bold;
  color: #555;
  margin-bottom: 0;
}

.ed-container h3 {
  margin: 0;
}

.ed-container span {
  font-size: smaller;
  margin-top: -10px;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-control :not(label) {
  width: 100%;
  line-height: 2;
  border-radius: 5px;
  outline: none;
  border: 2px solid #bbb;
  padding: 0 0.5em;
}

.form-control :not(label):focus {
  border: 2px solid var(--color-primary);
  background-color: #fdf6f7;
}

@media screen and (max-width: 800px) {
  body {
    font-size: smaller;
  }

  article .head {
    background-color: white;
  }

  article .content {
    padding: 0;
    border-left: none;
  }

  article .showcase {
    width: 100%;
  }

  .head {
    background-color: #eee;
    padding: 1em !important;
  }

  .head * {
    text-align: center;
    margin: 0;
  }

  .responsive-flex {
    flex-direction: column;
  }

  #projects .responsive-flex {
    gap: 0;
  }
}
